<%= simple_form_for(@survival) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :name %>
    <%= f.input :b %>
    <%= f.input :se %>
    <%= f.input :hr %>
    <%= f.input :ci_lower %>
    <%= f.input :ci_upper %>
    <%= f.input :p %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
