<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_id %><br>
    <%= f.number_field :case_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dx1 %><br>
    <%= f.text_field :dx1 %>
  </div>
  <div class="field">
    <%= f.label :dx2 %><br>
    <%= f.text_field :dx2 %>
  </div>
  <div class="field">
    <%= f.label :dx3 %><br>
    <%= f.text_field :dx3 %>
  </div>
  <div class="field">
    <%= f.label :dx5 %><br>
    <%= f.text_field :dx5 %>
  </div>
  <div class="field">
    <%= f.label :dxcon2 %><br>
    <%= f.text_field :dxcon2 %>
  </div>
  <div class="field">
    <%= f.label :dxcon4 %><br>
    <%= f.text_field :dxcon4 %>
  </div>
  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.number_field :experience %>
  </div>
  <div class="field">
    <%= f.label :fellowship %><br>
    <%= f.text_field :fellowship %>
  </div>
  <div class="field">
    <%= f.label :meeting_type %><br>
    <%= f.text_field :meeting_type %>
  </div>
  <div class="field">
    <%= f.label :mdt_frequency %><br>
    <%= f.text_field :mdt_frequency %>
  </div>
  <div class="field">
    <%= f.label :ipf_number_cases %><br>
    <%= f.text_field :ipf_number_cases %>
  </div>
  <div class="field">
    <%= f.label :imaging %><br>
    <%= f.text_field :imaging %>
  </div>
  <div class="field">
    <%= f.label :histopathology %><br>
    <%= f.text_field :histopathology %>
  </div>
  <div class="field">
    <%= f.label :nsip %><br>
    <%= f.number_field :nsip %>
  </div>
  <div class="field">
    <%= f.label :ctd %><br>
    <%= f.text_field :ctd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
