<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @score.case_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @score.user_id %>
</p>

<p>
  <strong>Dx1:</strong>
  <%= @score.dx1 %>
</p>

<p>
  <strong>Dx2:</strong>
  <%= @score.dx2 %>
</p>

<p>
  <strong>Dx3:</strong>
  <%= @score.dx3 %>
</p>

<p>
  <strong>Dx5:</strong>
  <%= @score.dx5 %>
</p>

<p>
  <strong>Dxcon2:</strong>
  <%= @score.dxcon2 %>
</p>

<p>
  <strong>Dxcon4:</strong>
  <%= @score.dxcon4 %>
</p>

<p>
  <strong>Job:</strong>
  <%= @score.job %>
</p>

<p>
  <strong>Description:</strong>
  <%= @score.description %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @score.experience %>
</p>

<p>
  <strong>Fellowship:</strong>
  <%= @score.fellowship %>
</p>

<p>
  <strong>Meeting type:</strong>
  <%= @score.meeting_type %>
</p>

<p>
  <strong>Mdt frequency:</strong>
  <%= @score.mdt_frequency %>
</p>

<p>
  <strong>Ipf number cases:</strong>
  <%= @score.ipf_number_cases %>
</p>

<p>
  <strong>Imaging:</strong>
  <%= @score.imaging %>
</p>

<p>
  <strong>Histopathology:</strong>
  <%= @score.histopathology %>
</p>

<p>
  <strong>Nsip:</strong>
  <%= @score.nsip %>
</p>

<p>
  <strong>Ctd:</strong>
  <%= @score.ctd %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
