<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinician.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinician.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @clinician.country %>
</p>

<p>
  <strong>Society:</strong>
  <%= @clinician.society %>
</p>

<p>
  <strong>General:</strong>
  <%= @clinician.general %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @clinician.specialty %>
</p>

<%= link_to 'Edit', edit_clinician_path(@clinician) %> |
<%= link_to 'Back', clinicians_path %>
