<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @user.job_description %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @user.experience %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @user.institution %>
</p>

<p>
  <strong>Institution type:</strong>
  <%= @user.institution_type %>
</p>

<p>
  <strong>Ipf approach:</strong>
  <%= @user.ipf_approach %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @user.meeting %>
</p>

<p>
  <strong>Imaging:</strong>
  <%= @user.imaging %>
</p>

<p>
  <strong>Histopathology:</strong>
  <%= @user.histopathology %>
</p>

<p>
  <strong>Fellowship:</strong>
  <%= @user.fellowship %>
</p>

<p>
  <strong>Mdt frequency:</strong>
  <%= @user.mdt_frequency %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Ipfphys:</strong>
  <%= @user.ipfphys %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cryobiopsy:</strong>
  <%= @user.cryobiopsy %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @user.complete %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @user.finished %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @user.finish %>
</p>

<p>
  <strong>Author:</strong>
  <%= @user.author %>
</p>

<p>
  <strong>Ats:</strong>
  <%= @user.ats %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
